@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    border-sizing:border-box;
}
body {
        font-family: "Mulish", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal; 
        max-width: 1600px;  
        width: 100%;
        overflow-x: hidden; 
}
html, body {
   margin: 0;
   padding: 0;
}


  article {
    padding: 50px;
 }

 section {
    padding: 50px;
 }

h1 h2 h3 h4 h5 h6 {
    font-weight: 700;
}
 

.container  {
        display: flex;
        justify-content: space-between; 
        padding: 10px 20px;
        max-width: 1600px;
        align-items: center;
    }


.nav-bar li {
    display: inline-block;
    margin: 0 10px;
}

 a {
    text-decoration: none;
    list-style-type: none;
    color: #1F1534;
     text-transform: capitalize;
 }


.nav-bar  li:not(:first-child) {
    color: #1F1534;
    opacity: 0.5;
}

  .fa-bars {
visibility: collapse;  }


.hero-header {
display: grid;
grid-template-columns: 1fr 1fr; 
gap: 50px;   
}

.hero-img-text h1 {
    font-family: Mulish;
    font-size: 50px;
    line-height: 56px;
    margin-top: 100px;   
}

.hero-img-text p {
        font-family: Mulish;
        font-size: 21px;
        font-weight: 300;
        line-height: 32px;
        text-align: left;
        margin-top: 20px;
        color: #7D7987;   
}

.hero-img-text button {
    width: 200px;
    height: 56px;
    background-color: #458FF6;
    border-radius: 55px;
    border: none;
    margin-top: 50px;
    color: #ffffff;
}

.second-article {
       display: flex;
       justify-content: center;
       text-align: center; 
       padding: 0px;  
}

.second-child h2 {
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    position: relative;

}

.second-child h2::after {
    content: "";
    position: absolute;
    width: 56px;
    height: 2px;
    background-color: #000000;
    border-radius: 5px;
    bottom: -20px;
    left: 48%;
   
}

.second-child p {
    width: 952px;
    height:60px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #7D7987;
    font-weight: 300;
    padding: 50px;
}


.third-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    padding: 70px;
    width: 1120px;
}


.third-section-child {
    width: 350px;
    height: 356px;
    background-color: #ffffff;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border-radius: 20px;
    z-index: -1;
}

.section-child {
    padding: 30px;
}

.third-section-child h3 {
font-size: 24px;
margin-top: 30px;
line-height: 56px;
text-align: left;
}

.third-section-child p {
    width: 262px;
    height: 249px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
    color: #7D7987;
}


 .learn-more-btn {
   align-items: center;
   text-align: center;
   margin-bottom: 100px;
 }


.button {
    
    width: 200px;
    height: 60px;
    border-radius: 55px;
    background-color: #ffffff;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    align-items: center;
    
}


 .fourth-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    margin-top: 50px;
    gap: 50px;
    
 }

 .fourth-child {
    padding: 50px;

 }

 .right {
float: inline-end; 
}

 .fourth-child h4 {
    width: 481px;
    height: 112px;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-align: left;
    position: relative;
    
 }

 .fourth-child h4::after {
    content: "";
    position: absolute;
    width: 56px;
    height: 2px;
    border-radius: 10px;
     background-color: #000000;
     bottom: -20px;
     left: 0px;
 }

 .fourth-child p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #7D7987;
    margin-top: 50px;
    width: 450px;
    height: 120px;

 }

  .fourth-child button {
    width: 200px;
    height: 60px;
   border: 1.4px solid #458FF6;
    border-radius: 55px ;
    color: #458FF6;
    align-items: center;
    background-color: #ffffff;
    margin-top: 50px;

  }

   

   .fifth-child {
      display: flex;
      justify-content: space-between;
      position: relative;
      gap: 50px;
      margin-top: 200px;
      flex-direction: row-reverse;
   }

   .fifth-child img {
      width: 635px;
      height: 434px;
   }
 
   
   .fifth-child h5 {
        width: 254px;
        height: 96px;
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        text-align: left;
        position: relative;
        padding: 50px;

   }

   .fifth-child h5::after {
    content: "";
    position: absolute;
      width: 56px;
      height: 2px;
      background-color: #000000;
      border-radius: 5px;
      left:  50px;
      bottom: 10px;
   }

   .fifth-child p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: #7D7987;
    width: 420px;
    height: 120px;
    padding: 50px;

   }


 .fifth-child button {
    width: 200px;
    height: 56px;
   border-radius: 55px;
   border:1.4px solid #458FF6;
   color: #458FF6;
   font-size: 18px;
   font-weight: 700;
   text-align: center;
   background-color: #ffffff;
   margin-left: 45px;
 }

 
  .sixth-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background-image: url(images/element.png);
  background-repeat: no-repeat;
  background-position: left;
  }

 .sixth-child {
    padding: 50px;
    width: 1120px;
    height: 425px;
    border-radius: 24px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  
 }

 .sixth-child h6 {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    position: relative;
 }

 .sixth-child h6::after {
    content: "";
    position: absolute;
    width: 56px;
    height: 2px;
    left: 47%;
    background-color: #ffffff;
    bottom: -20px;
    border-radius: 24px;
 }

 .grid {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    padding: 100px;
    align-items: center;
    margin-top: 50px;
 }

 .grid p {
    color:#FFFFFFE5;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

 }
 .grid img {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    
 }

 .class p {
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: #FFFFFFD9;
 }

 .class h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #FFFFFF;
 }

 .slide-btn img {
    padding: 50px;
    cursor: pointer;
    margin-bottom: 100px;
 }

 .h2 {
    text-align: center;
    position: relative;
    font-family: Mulish;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
   


 }
 .h2::after {
    content: "";
    width: 56px;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom:-20px;
    left: 47.5%;

 }

 .seventh-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
   

 }

 .bg {
  background-image: url(images/n1.png) ;
    rotate: 159.84 deg;
    background-position: right;    
   background-repeat: no-repeat;


 }


 .seventh-child {

   width: 350px;
    height: 512px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
   
 }

   

 .seventh-child h3 {
    width: 251px;
    height: 64px;
    font-size: 21px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #000000;
    padding: 20px;
 }
 
 .seventh-child p {
    width: 266px;
    height: 84px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
     color: #7D7987;
     margin-left: 20px;
     margin-bottom: 20px;

 }


 .seventh-child a {
    width: 266px;
    height: 28px;
    color: #4089ED;
    font-family: Mulish;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    padding: 20px;
    align-items: center;
 }
 
 .last {
    align-items: center;
    text-align: center;
    margin-bottom: 200px;
   

 }

 .last button {
    width: 200px;
    height: 60px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    background-color: #ffffff;
    color: #458FF6;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
 }


 .footer {
    max-width: 1600px; 
    height: auto;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: left;
    color: #FFFFFF;
   
 }

 .footer-img {
   background-image: url(images/element\ \(3\).png);
   background-repeat: no-repeat;
 }


 .footer-child {
    padding: 100px;
 }

 .footer-child h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;

 }

 .footer-child p {
    width: 391px;
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
 
 }

 .footer-paragraph {
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
 
 }

 @media screen and (min-width: 312px) and (max-width:767px) {


   body {
      padding: 0;
      margin: 0;
     box-sizing: border-box;

     overflow-x: hidden;
   }

   .none {
      display: none;
   }

   .container {
       flex-direction: row;
       align-items: center;
       align-items: flex-start;
   }
   

   .nav-bar li {
       display: none;
       margin: 0 10px;
   }
   

   .fa-bars {
      visibility: visible;
      padding: 15px;
      margin-left: 150px;
      margin-right: auto;
   
      
   }

   .hero-header {
       grid-template-columns: 1fr;
       text-align: center;
       width: 90%;
       align-items: center;
       /* padding-left: 100px; */
   }

   .hero-img-text h1 {
       font-size: 36px;
       line-height: 42px;
       margin-top: 50px;
       text-align: center;
   }

   .hero-img-text p {
       font-size: 18px;
       line-height: 26px;
       text-align: center;
   }

   .hero-img-text button {
       width: 150px;
       height: 48px;
   }

   .hero-header img {
      width: 100%;
   }


   .second-article {
      grid-template-columns: 2fr;
      text-align: center;
      width: 85%;
      align-items: center;
   }
 

  .second-child h2{
   font-size: 36px;
   line-height: 42px;
   margin-top: 50px;
   align-items: center;
   text-align: center;
   left: 40px;
}

.second-article p {
   font-size: 18px;
   line-height: 26px;
   width: 100%;
   margin-bottom: 30px;

}

    .third-section {
       grid-template-columns: 1fr;
       text-align: center;
       justify-content: center;
       gap: 50px;
       width: 80%;
       /* padding-left: 85px;  */
    }
   
     .third-section h3 {
      font-size: 30px;
      line-height: 42px;
      align-items: center;
      text-align: center;
      margin-bottom: 20px;
     }


     .third-section p {
      font-size: 18px;
      line-height: 26px;
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
   
     }

     .learn-more-btn {
      grid-template-columns: 1fr;
      text-align: center;
      justify-content: center;
      width: 100%;
      
     }

   .fourth-header {
         grid-template-columns: 1fr;
         text-align: center;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: auto;
         padding: 20px;
      
   }

   



   .fourth-header img {
      width: 100%;
     align-items: center;
     text-align: center;
   }

   .fourth-child h4::after {
     visibility: collapse;
   }

   .fourth-child h4 {
      width: 100%;
      text-align: center;
   }

   .fourth-child p {
      text-align: center;
      width: 100%;
   }

   .right {
      display: none;
   }
    
   .fifth-child {
       flex-direction: column;
       align-items: center;
       grid-template-columns: 1fr;
       text-align: center;
       justify-content: center;
       width: 70%;
       position: relative;

   }
   

   .fifth-child img {
       max-width: 100%;
       height: auto;
       align-items: center;
   }

  .side h5 {
   width: 100%;
   font-size: 30px;
   line-height: 42px;
   align-items: center;
   text-align: center;
  }

  
  .side h5::after {
   left: 44%;
   position: absolute;

  }

  .side p {
   width: 100%;
   text-align: center;
   align-items: center;
   margin-bottom: 50px;
  }

  .btn-w-arrow {
   grid-template-columns: 1fr;
      text-align: center;
      justify-content: center;
      width: 100%;
      margin-left: 50px;
  }


   .sixth-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      width: 80%;
      /* padding-left: 50px;  */
   }

   .sixth-child {
      align-items: center;
      text-align: center;
      justify-content: space-between;
      flex-direction: column;
      width: 80%;
      height: auto;
   }

   .sixth-child h6::after {
      top: 150px;
      left: 44%;
   }

   .grid {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
 }

 .class h1  {
   text-align: center;
   width: 100%;
 }

 .class p {
   text-align: center;
   width: 100%;
 }

 .grid .center{
   line-height: 26px;
   text-align: center;
   margin-top: 20px;
   width: 100%;
   justify-content: center;
   align-items: center;
 }


  .slide-btn {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
 
 
  }

   .h2 {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-left: 50px;
      width: 100%;
   }

   .h2::after {
      left: 47%;
   }
   
   .seventh-header {
      grid-template-columns: 1fr;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 61%;
      gap: 50px;
      /* padding-left: 70px;  */
   }

   .last {
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 100%;
      padding-left: 50px;
   }

   .footer-img {
      width: fit-content;
      /* margin-left: auto; */
    align-items: center;
    justify-content: center;
    /* grid-template-columns: 1fr; */
         
   }

   .footer {
     
       grid-template-columns: 1fr;
       gap: 20px;
       text-align: center;
       padding: 20px; 
        /* padding-left: 10px; */
   } 

   .footer-child {
padding: 10px;
grid-template-columns: 1fr;
text-align: center;
width: 100%;
   }

   .futter {
      display: none;
   }
}
 

 
@media screen and  (min-width:768px) and (max-width:1024px) {
   body {
     padding: 0;
     margin: 0;
  box-sizing: border-box;
   }
      .hero-header {
         margin: auto;
         grid-template-columns: 1fr 1fr ;
         align-items: center;
         
      }

      .nav-bar {
         display: none;
      }

      .fa-bars {
         visibility: visible;
         padding: 15px;
       
      }

      .hero-header {
         grid-template-columns: 1fr;
         text-align: center;
      }

      .hero-header p  {
           width: 100%;
           align-items: center;
           text-align: center;
      }
   
      .hero-header img {
           margin: auto;   
      }

      .second-article {
         width: 100%;
         align-items: center;
         text-align: center;
         grid-template-columns: 1fr;
      }

      .second-child p {
         width: 90%;
         text-align: center;
      }

      .third-section {
         display: grid;
         grid-template-columns: 1fr 2fr;
         align-items: center;
         max-width: 100%;
      }

    .learn-more-btn {
      align-content: center;
      text-align: center;
    }

     .fourth-header {
      max-width: 100%;
      align-items: center;
      text-align: center;
      grid-template-columns: 1fr;
      text-align: center;
      align-items: center;
     }
      
     .fourth-header img {
      margin: auto;
     }

     .fourth-child {
      text-align: center;
      width: 100%;    
     }

     .fourth-child h4 {
      text-align: center;
      width: 100%;
     }

     .fourth-child h4::after {
          left: 48%;  
          top: 80px; 

     }

     .fourth-child p {
      text-align: center;
      width: 100%;
     }

    .fifth-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
    }


    .fifth-child {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
    }
     

     .side {
  text-align: center;
  align-items: center;      
     }

     .side h5 {
      text-align: center;
      align-items: center;
      width: 80%;
     }
     .side h5::after {
        left: 44%;
        top: 150px;
     }

     .side p {
      text-align: center;
     }
     
     .sixth-header {
      align-items: center;
      text-align: center;
      flex-direction: column;
      width: 100%;
      height: auto;
     
     }

     .sixth-child {
      align-items: center;
      text-align: center;
      flex-direction: column;
      width: 80%;
      height: auto;
     }



     .grid {
      grid-template-columns: 1fr;
      text-align: center;
      grid-template-columns: 1fr;
      text-align: center;
      align-items: center;
     }
     

     .class h1  {
      text-align: center ;
     }
     .class p {
      text-align: center;
     }

   

   .h2 {
      text-align: center;
      align-items: center;
   } 

  .seventh-header { 
      grid-template-columns: 1fr ;
      gap: 50px;
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 100%;
      /* padding: 20px; */
   } 

   .seventh-child {
      width: 100%;
      text-align: center;
      align-items: center;
      padding: 10px;
      
   }

   .seventh-child h3 {
      text-align: center;
      width: 100%;
   }
   
   .seventh-child p {
    
      text-align: center;
      align-items: center;
      width: 100%;
      justify-content: center;
   }
    
  
    .footer {
      max-width: max-content;
      grid-template-columns: 1fr 1fr  ;
      text-align: center;
      align-items: center;

   
   } 
    
 

    
} 
